@mixin flex {
  gap: 19px;
  display: flex;
  justify-content: flex-end;
}
@mixin push {
  font-size: 80px;
  font-weight: 900;
  color: #8d8d8d;
}
@mixin display {
  justify-content: center;
  display: flex;
}
@mixin center {
  justify-content: center;
  align-items: center;
  display: flex;
}
