@import url("https://cdn.web-fonts.ge/fonts/bpg-rioni-vera/css/bpg-rioni-vera.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "BPG Rioni Vera", sans-serif;
  background-image: url(../images/Screenshot\ 2025-01-01\ 162858.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar .navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 25px;
}
.fa-bars {
  display: none;
  padding: 20px 40px;
  color: black;
}

nav {
  background-color: white;
  display: flex;
  height: 104px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px grey;
}
nav ul {
  gap: 19px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-right: 81px;
}
nav li {
  font-size: 22px;
  font-weight: 800;
  @media only screen and (max-width: 833px) {
    display: none;
  }
}

.logo {
  margin-left: 45px;
  margin-top: 150px;
}

.frame > div {
  background-image: url(../images/img2.jpg);
  width: 100%;
  height: 600px;
  justify-content: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bigdiv {
  margin-top: 90px;
  margin-left: 41px;
}

.school {
  color: #9f1616;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 26px;
}

.us {
  color: #ff0000;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 26px;
  margin-top: 10px;
}

.text {
  color: black;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 71px;
}

.img {
  background-image: url(../images/img5.jpg);
  background-repeat: no-repeat;
  @media only screen and (max-width: 1265px) {
    width: 500px;
    height: 100%;
  }
}

.top {
  margin-left: 750px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1265px) {
    margin-left: 550px;
    margin-top: 1px;
    width: 70%;
  }
  @media only screen and (max-width: 899px) {
    width: 60%;
    margin-left: 300px;
  }
}
p {
  @media only screen and (max-width: 900px) {
    justify-content: center;
    text-align: center;
  }
}
footer {
  background-color: grey;
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
i {
  font-size: 27px;
  cursor: pointer;
  gap: 0px;
}
.last {
  color: white;
  font-size: 28px;
  font-weight: 400;
  margin-left: 200px;
  margin-top: 50px;
}

.contc {
  margin-bottom: 20px;
}

.email {
  margin-bottom: 20px;
} /*# sourceMappingURL=style2.css.map */
